@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  background: #c9d6ff;
  background: -webkit-linear-gradient(to right, #e2e2e2, #c9d6ff);
  background: linear-gradient(to right, #e2e2e2, #c9d6ff);
  margin: 0;
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

img {
  max-width: 100%;
}

.container {
  width: 400px;
  background-color: #fff;
  box-shadow: 0 0 10px 2px #3333331a;
  border-radius: 3px;
  overflow: hidden;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

header input {
  border: none;
  background-color: #e2e2e2;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  font-family: inherit;
}

header button {
  background-color: transparent;
  color: #969393;
  font-size: 1.3rem;
  border: none;
  margin-inline-start: 10px;
}

.fav-container {
  padding: 0.25rem 1rem;
  text-align: center;
  background-color: #eccc683a;
}

.fav-meals {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 0;
}

.fav-meals li {
  position: relative;
  width: 75px;
  margin: 5px;
  cursor: pointer;
}

.fav-meals li .clear {
  background-color: transparent;
  position: absolute;
  top: -0.2rem;
  right: -0.5rem;
  border: none;
  /* border-radius: 50%; */
  color: #ff5e24;
  font-size: 1rem;
  opacity: 0;
  cursor: pointer;
}

.fav-meals li:hover .clear {
  opacity: 1;
}

.fav-meals li img {
  border: 2px solid #fff;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  box-shadow: 0 0 10px 2px #3333331a;
  object-fit: cover;
}

.fav-meals li span {
  display: inline-block;
  font-size: 0.8rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 75px;
}

/* .fav-meals li:hover span {
  white-space: normal;
  overflow: auto;
} */

.meal {
  margin: 1.5rem;
  border-radius: 3px;
  box-shadow: 0 0 10px 2px #33333340;
  overflow: hidden;
  cursor: pointer;
}

.meal-header {
  position: relative;
}

.meal-header .random {
  position: absolute;
  top: 1rem;
  background: #fff;
  border: 1px solid;
  border-left: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 0.25rem 0.5rem;
}

.meal-header img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.meal-body {
  display: flex;
  margin: 0;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0.25rem;
}

.meal-body h4 {
  margin: 0;
}

.meal-body .fav-btn {
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
  color: #33333340;
  cursor: pointer;
}

.meal-body .fav-btn.active {
  color: #ff7f50;
}

.popup-container {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.popup-container.hidden {
  opacity: 0;
  pointer-events: none;
}

.popup {
  background-color: #fff;
  max-width: 600px;
  width: 100%;
  max-height: 100vh;
  padding: 0 1.8rem;
  border-radius: 5px;
  position: relative;
  overflow: auto;
}

.popup .close-popup {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: transparent;
  border: none;
  color: #ff5e24;
  font-size: 1.3rem;
  border: 2px solid #aaa;
  border-radius: 5px;
  cursor: pointer;
}


.meal-info h1 {
  text-align: center;
}



